In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from DATADIQ.projects.A_data_collection import make_dataset_for_classification
from DATADIQ.projects.D_data_analysis import classification 
from DATADIQ.projects.E_plot_results import plot

from DATADIQ import tane
import sys
sys.path.append('DATADIQ')
import fdtool

seed = 2024

In [8]:
X, y = make_dataset_for_classification(n_samples=1000, n_features=5, n_informative=5, n_redundant=0, n_repeated=0, n_classes=2, n_clusters_per_class=2, weights=None, flip_y=0.01, class_sep=1.0, hypercube=True, seed=seed)

df = pd.DataFrame(X)
df

            0         1         2         3         4
0    0.973723  2.804397 -0.300831  1.448791  0.553982
1   -0.958050  0.837400  0.938903 -0.545706  1.026823
2   -1.855599 -0.314043  0.126241 -2.888675 -1.110085
3   -0.093354  1.475853  1.444273 -0.480373 -2.266737
4   -0.100938  0.550623 -0.476341 -1.265839  1.399365
..        ...       ...       ...       ...       ...
995 -1.498142 -1.000903 -2.849355 -3.339761  0.317906
996  2.610183 -0.963824  3.156669 -0.279722 -0.791273
997 -2.555454  1.851760  2.927063  0.148744 -1.061322
998  0.753282 -1.641176  5.510577 -1.396730 -1.304814
999  0.627196  2.723670  0.612559 -0.132086  2.686489

[1000 rows x 5 columns]

In [199]:
#pollute the dataset adding functional dependencies
def pollute(data, correlation_coefficient, new_feautures_number, dependent_features_number):
    df = data.copy()
    for i in range(new_feautures_number):
        idx = np.random.choice(df.shape[1], dependent_features_number, replace=False)
        print('New columns will be dependent on columns: ', idx)
        column_name = 'new_feature_' + str(df.shape[1]-4)
        if dependent_features_number == 2:
            df[column_name] = correlation_coefficient * df.iloc[:,idx[0]] + np.sqrt(1 - correlation_coefficient**2) * df.iloc[:,idx[1]]+ np.random.normal(0, 0.1, df.shape[0])
        if dependent_features_number == 1:
            df[column_name] = (correlation_coefficient * df.iloc[:,idx[0]]
                       + np.sqrt(1 - correlation_coefficient**2) * np.random.normal(0, 1.5, df.shape[0]))
    return df

In [207]:
polluted=pollute(df, 0.8, 2, 2)
polluted
polluted.corr()

New columns will be dependent on columns:  [2 4]
New columns will be dependent on columns:  [1 0]

,0,1,2,3,4,new_feature_1,new_feature_2
0,1.000000,0.259794,0.049182,-0.102016,-0.047749,0.019892,0.782532
1,0.259794,1.000000,0.135795,-0.138170,0.261565,0.273647,0.800779
2,0.049182,0.135795,1.000000,-0.043446,-0.162988,0.832238,0.117261
3,-0.102016,-0.138170,-0.043446,1.000000,-0.126358,-0.109047,-0.150537
4,-0.047749,0.261565,-0.162988,-0.126358,1.000000,0.407616,0.136238
new_feature_1,0.019892,0.273647,0.832238,-0.109047,0.407616,1.000000,0.186384
new_feature_2,0.782532,0.800779,0.117261,-0.150537,0.136238,0.186384,1.000000